/** Import Lepton stylesheet (Chrome) *****************************************/
@import url("css/leptonChrome.css");


/** Add your custom styles below **********************************************/

/* Remove the navigation icons in the right-click context menu */
#context-navigation,
#context-sep-navigation {
  display: none !important;
}

/* Enable option to edit bookmark URLs under Add Bookmark (blue star) menu */
.editBMPanel_locationRow {
  display: initial !important;
}

/* Disable Email Image/Audio/Video and Set as Desktop Background context menu items */
#context-sendimage,
#context-sendvideo,
#context-sendaudio,
#context-setDesktopBackground {
  display: none !important;
}
